.main{
  background-color: red;
  display: block;
  margin: auto;
  min-height:950px ;
  max-width: 1280px;
  background: #5614B0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD65C, #5614B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 30px;
}
.container{
  max-width: 1080px;
  margin: 20px auto;
}
.for{
  display: flex;
  background-color: rgb(55, 128, 192) ;
  width: 80%;
  max-width: 900px;
  border-radius: 12px;
  margin:  auto;
  margin-top: auto;
}